@page
@model Lift.www.Pages.IndexModel
@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Lift software</h1>
<div id="vue-app"></div>
